<div class="container">
  <h2 style="text-align: center">Committees</h2>
  <h3> Faculty </h3>
  <div class="row">
    <div class="col-md-3">
      <img class="img-circle" src="{{ "/assets/img/arpinar.jpg" | prepend: site.baseurl }}" />
      <br>
      <p class="text-center">Ismailcem Budak Arpinar</p>
    </div>
    <div class="col-md-3">
      <img class="img-circle" src="{{ "/assets/img/ramaswamy.jpg" | prepend: site.baseurl }}" />
      <br>
      <p class="text-center">Laksmish Ramaswamy</p>
    </div>
    <div class="col-md-3">
      <img class="img-circle" src="{{ "/assets/img/pic_kyu.jpg" | prepend: site.baseurl }}" />
      <br>
      <p class="text-center">Kyu Hyung Lee</p>
    </div>
    <div class="col-md-3">
      <img class="img-circle" src="{{ "/assets/img/rasheed.jpg" | prepend: site.baseurl }}" />
      <br>
      <p class="text-center">Khaled Rasheed</p>
    </div>
  </div>

</div>