<div class="container">
  <div class="user-details">
    <h3> Program </h3>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Poster Session </h5>
      <p>
        Graduate and undergraduate students in computer science will be presenting posters on their latest research and projects.
      </p>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Demos </h5>
      <p>
        Students will have demonstrations of just some of the amazing working being done in the computer science department.
      </p>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Food </h5>
      <p>
        Food will be served.
      </p>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Keynote </h5>
      <p>
        Dr. (insert name) will be giving the keynote on one of the most pressing matters in our modern world, cyber security.
      </p>
    </div>
  </div>

</div>
